#message, #order-form {
  display: none;
}

ul {
  list-style-type: none;
}

.delete {
  font-weight: bold;
  color: grey;
}

.delete:hover {
    color: red;
    cursor: pointer;
}

#order {
  font-size: large;
}

img {
  width: 100px;
  height: 85px;
  float: left;
  clear: both;
  padding-bottom: 10px;
}
